<div class="row">
    <div class="col-6 offset-3 mt-3 card">
        <form *ngIf="(student$ | async) as student" id="studentForm" #editForm="ngForm"
            (ngSubmit)="saveStudent(student)">
            <input name="_id" type="hidden" [(ngModel)]="student._id">
            <div class="form-group my-2">
                <label for="firstName">FirstName</label>
                <input class="form-control" id="firstName" type="text" name="firstName" [(ngModel)]="student.firstName">
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="form-group my-2">
                        <label for="lastName">LastName</label>
                        <input class="form-control" id="lastName" type="text" name="lastName"
                            [(ngModel)]="student.lastName">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="form-group my-2">
                        <label for="email">Email</label>
                        <input class="form-control" id="email" type="email" name="email" [(ngModel)]="student.email">
                    </div>
                </div>
            </div>

            <button type="submit" [disabled]="editForm.invalid" class="btn btn-primary save-button mb-3">
                <i class="fas fa-save"></i> Save changes
            </button>
        </form>
    </div>
</div>